


.floatButton{
    width: 50px;
    height: 50px;
    background: linear-gradient(-15deg, #f15151, rgb(165, 42, 42));
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    transition: 0.5s;
    cursor: url('/Svg/pointer.cur'),auto;
    box-shadow: 5px 5px 10px  #00000096;
    border-radius: 50%;
    cursor: pointer;
}


.container{
    width: 400px;
    height: 450px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: rgb(247, 165, 165);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.offcontainer{
    display: none;
}

.label1{
    margin: 0px;
    background-color: rgb(97, 27, 27);
    padding: 15px;
    color: #fff;
    font-size: 20px;
    flex-grow: 1;
}

.label2{
    margin: 0px;
    background-color: rgb(97, 27, 27);
    padding: 15px 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.head{
    display: flex;
    align-items: center
}

.messageBox{
    flex-grow: 1;
    overflow: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.inputBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
}

.sendButton{
    width: 20%;
    text-align: center;
    background-color: brown;
    cursor: pointer;
    border-radius: 20px;
    margin: 0px 10px;
    padding: 10px;
    color: #fff;
}


.services{
    padding: 20px 20px;
    overflow: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  
}

.questionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: 'center'
}

.question{
    background-color: rgb(196, 9, 9);
    color: #fff;
    padding: 10px 20px;
    margin: 5px 0px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}